    /* .wdt-fancy-box-style.wdt-post-entry:not(.entry-cover-layout) .blog-entry > div:not(.entry-thumb):not(.entry-author):not(.entry-tags) {display: flex;align-items:center;flex-wrap: wrap;border: none;} */
    .wdt-fancy-box-style .entry-thumb-meta-group{display: flex;padding: 0;justify-content: space-between;align-items: center;flex-wrap:wrap;position: absolute;top: 10px;left: 20px;right: 20px;z-index: 1;}
    .wdt-fancy-box-style .entry-categories, .wdt-fancy-box-style .entry-social-share {margin-top: 5px;}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-thumb-meta-group div.entry-categories a {padding: 8px 20px;border: 1px solid;border-radius: 50px;line-height: normal;color: var(--wdtBodyBGColor);display: inline-block;}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-thumb-meta-group div.entry-categories a:hover {color: var(--wdtSecondaryColor);}
    .wdt-fancy-box-style .blog-entry.type-post .entry-format{margin-top: 10px;margin-left: 10px;bottom: 15px;top: unset;}
    .wdt-fancy-box-style .blog-entry .entry-format a:before{font-size: 16px;line-height: 40px;}
    .wdt-fancy-box-style .blog-entry .entry-format a{margin: 5px 10px;height: 40px;width: 40px;}
    .wdt-fancy-box-style a.ico-format {border-radius: 50%;}
    .wdt-fancy-box-style .blog-entry .entry-social-share .share > i{display:none;}
    .wdt-fancy-box-style .blog-entry .entry-social-share .share{border: none;padding-right: 0;padding-left: 0;}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-social-share .share > ul {padding-left: 0;}
    .wdt-fancy-box-style .blog-entry .entry-social-share .share > ul li a {border: 1px solid;line-height: normal;padding: 6px;margin: 2px;border-radius: 50px;}
    .wdt-fancy-box-style .blog-entry .entry-thumb-meta-group .entry-social-share .share > ul li a{color: var(--wdtBodyBGColor);}
    .wdt-fancy-box-style .blog-entry .entry-thumb-meta-group .entry-social-share .share > ul li a:hover{color: var(--wdtSecondaryColor);}
    .wdt-fancy-box-style .entry-categories i, .wdt-fancy-box-style.wdt-post-entry .blog-entry div.entry-categories a:after, .wdt-fancy-box-style.wdt-post-entry .blog-entry div.entry-tags a:after, .wdt-fancy-box-style .entry-date i, .wdt-fancy-box-style .entry-tags i {display: none;}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-title h4 a{color: var(--wdtHeadAltColor);font-size: var(--wdtFontSize_H6); text-transform: capitalize; }
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-title h4 a:hover{color: var(--wdtLinkColor);}
    .home-2-blog-listing .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-title h4 a:hover {color: var(--wdtSecondaryColor); }
    .wdt-custom-mega-menu-blog .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-title h4 a:hover { color: var(--wdtPrimaryColor); }
    /* .wdt-fancy-box-style.wdt-post-entry .entry-body p{font-size: calc(var(--wdtFontSize_Base) - 2px);} */
    .wdt-fancy-box-style .entry-author {display: flex;text-transform: capitalize;}
    .wdt-fancy-box-style .entry-author span {margin: 0 5px;}
    .wdt-fancy-box-style .entry-author img{border-radius: 50px;}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry > div.entry-tags a, .wdt-fancy-box-style.wdt-post-entry .blog-entry > .entry-meta-group div.entry-tags a, .wdt-fancy-box-style.wdt-post-entry .blog-entry > div.entry-categories a, .wdt-fancy-box-style.wdt-post-entry .blog-entry > .entry-meta-group div.entry-categories a{background: var(--wdtTertiaryColor);border-radius: 40px;padding: 2px 8px 3px;font-size: calc(var(--wdtFontSize_Base) - 4px);}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-meta-group div.entry-categories a:hover, .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-meta-group div.entry-tags a:hover{background: var(--wdtSecondaryColor);color: var(--wdtBodyBGColor);}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-author a {color: var(--wdtPrimaryColor);}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-author a:hover {color: var(--wdtSecondaryColor);}
    .wdt-fancy-box-style.wdt-post-entry .entry-meta-group {position: relative; display: flex; }
    .wdt-fancy-box-style.wdt-post-entry .entry-meta-group:before {content: '';background: currentColor;height: 1px;top: 0;left: 10px;right: 10px;position: absolute;opacity: 0;}
    .tpl-blog-holder .wdt-fancy-box-style.wdt-post-entry.column .blog-entry {border: 0px solid var(--wdtBorderColor);}
    .wdt-fancy-box-style .blog-entry .entry-meta-group > div {margin: 5px 0;}
    .wdt-fancy-box-style .entry-thumb:before {content: '';width: 100%;height: 100%;background: var(--wdtLinkColor);position: absolute;opacity: 0;z-index: 0;}
    .wdt-fancy-box-style.wdt-post-entry:not(.entry-cover-layout) .blog-entry.format-link > div.entry-thumb, .wdt-fancy-box-style.wdt-post-entry:not(.entry-cover-layout) .blog-entry.format-quote > div.entry-thumb{padding: 0;}
    .wdt-fancy-box-style.wdt-post-entry .entry-author-pic {display: none;}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-title h4 a, .wdt-fancy-box-style.wdt-post-entry .blog-entry a:not(.wdt-button){text-decoration: none;}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-title h4{display: flex;align-items: flex-start;}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-title h4 span.sticky-post {margin-right: 6px;}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-title h4 span.sticky-post{position: unset;font-size: 16px;width:22px;height: 22px;text-align: center;}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-title h4 span.sticky-post > i:first-child{position: unset;font-size: 16px;line-height: 26px;}
    .tpl-blog-holder .wdt-fancy-box-style.wdt-post-entry.column .blog-entry:not(.has-post-thumbnail) {padding: 20px;}
    .tpl-blog-holder .wdt-fancy-box-style.wdt-post-entry.column .blog-entry:hover{border: 0px solid var(--wdtBorderColor);padding: 0px;}
    .tpl-blog-holder .wdt-fancy-box-style.wdt-post-entry.column .blog-entry:not(.has-post-thumbnail):hover{border: 5px solid var(--wdtBorderColor);padding: 30px;}
    .wdt-fancy-box-style.wdt-post-entry .entry-title-group {justify-content: space-between;}
    .wdt-fancy-box-style .has-post-format .blog-entry.type-post .entry-format{margin-top: 10px;}
    .wdt-fancy-box-style .has-post-format .entry-categories, .wdt-fancy-box-style .has-post-format .entry-social-share {margin-top: 5px;}
    .wdt-fancy-box-style.wdt-post-entry:not(.entry-cover-layout) .blog-entry > div:not(.entry-thumb) {padding-left: 10px;padding-right: 10px; margin-top: 100px;}
    .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-meta-group > div {margin: 5px;}
    .wdt-fancy-box-style .blog-entry .entry-meta-group > div.entry-author:nth-child(1):nth-last-child(2) {margin-right: auto;}

    .tpl-blog-holder .wdt-fancy-box-style.wdt-post-entry.column .blog-entry{display: grid;}
    .wdt-fancy-box-style .has-post-thumbnail .entry-button.wdt-core-button{grid-column: 1/1;grid-row: 1;z-index: 1;position: relative;height: 20%;margin-top: auto;}
    .wdt-fancy-box-style .has-post-thumbnail .entry-thumb {grid-column: 1/1;grid-row: 1; margin-bottom: 0px !important; border-radius: 0px;}
    .wdt-posts-list-wrapper .wdt-fancy-box-style .blog-entry .entry-button a.wdt-button{font-size: 0;width: 35px;height: 35px;line-height:33px;padding: 0;border: 1px solid currentColor;border-radius: 50%;background: transparent;position: absolute;bottom: 40px;right: 30px;color:var(--wdtBodyBGColor);}
    .wdt-posts-list-wrapper .wdt-fancy-box-style .blog-entry .entry-button a.wdt-button:hover {color: var(--wdtSecondaryColor);}
    .wdt-posts-list-wrapper .wdt-fancy-box-style .blog-entry .entry-button a.wdt-button:before{position: unset;content: '\27A6';display: block;font-size: 20px;text-align: center;}
    .blog-entry .entry-button a.wdt-button span{display: none;}
    .wdt-fancy-box-style .blog-entry .entry-blog-content .entry-title-group { display: flex; flex-direction: column-reverse; gap: 10px; }
    .wdt-fancy-box-style .blog-entry .entry-blog-content { grid-area: 1/-1; z-index: 0; background: var(--wdtTertiaryColor); position: absolute; bottom: 20px; left: 20px; right: 20px; margin-bottom: 0px !important; width: calc(100% - 40px) !important; padding: 30px !important; /*border-radius: 15px;*/ }
    .wdt-fancy-box-style .blog-entry .entry-blog-content .entry-body { margin-bottom: 0px !important; }
    .wdt-fancy-box-style .has-post-thumbnail .entry-thumb img{ /* border-radius: 18px; */ width: 100%; }
    .wdt-fancy-box-style .blog-entry .entry-blog-content .entry-title-group  div.entry-date { color: var(--wdtLinkColor); }

    .wdt-custom-overlay-content .wdt-fancy-box-style .blog-entry .entry-blog-content { background: transparent; display: flex !important; flex-direction: column-reverse; gap: 18px; padding: 10px 20px !important;}
    .wdt-custom-overlay-content .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-title h4 a { color: var(--wdtAccentTxtColor); }
    .wdt-custom-overlay-content .wdt-fancy-box-style.wdt-post-entry .blog-entry .entry-title h4 a:hover { color: var(--wdtPrimaryColor); }
    .wdt-custom-overlay-content .wdt-fancy-box-style.wdt-post-entry .entry-meta-group div.entry-date, .wdt-custom-overlay-content .wdt-fancy-box-style.wdt-post-entry .entry-meta-group div.entry-author { color: rgba(var(--wdtAccentTxtColorRgb) , 0.7); text-transform: capitalize; font-weight: var(--wdtFontWeight_Ext); font-family: var(--wdtFontTypo_Base); }
    .wdt-custom-overlay-content .wdt-fancy-box-style.wdt-post-entry .entry-meta-group div.entry-author a { color: rgba(var(--wdtAccentTxtColorRgb) , 0.7); }
    .wdt-custom-overlay-content .wdt-fancy-box-style.wdt-post-entry .entry-meta-group div.entry-author a:hover { color: var(--wdtPrimaryColor); }
    .wdt-custom-overlay-content .wdt-fancy-box-style .has-post-thumbnail .entry-thumb:after { content: ''; position: absolute; width: 100%; height: 80%; 
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 164.88%); bottom: 0px; left: 0px; border-radius: inherit; }
    .wdt-custom-overlay-content .wdt-fancy-box-style.wdt-post-entry .entry-meta-group > div { position: relative; }
    .wdt-custom-overlay-content .wdt-fancy-box-style.wdt-post-entry .entry-meta-group > div:not(:last-child):after{ content: '|'; position: absolute; right: -10px; }

    /* For mega menu */
    #header .wdt-elementor-container-fluid .wdt-header-menu ul.wdt-primary-nav li.has-mega-menu>ul.sub-menu>li.menu-item-object-wdt_mega_menus .wdt-fancy-box-style .has-post-thumbnail .entry-thumb img{min-height: 350px;object-fit: cover;}
    #header .wdt-elementor-container-fluid .wdt-header-menu ul.wdt-primary-nav li.has-mega-menu>ul.sub-menu>li.menu-item-object-wdt_mega_menus .wdt-fancy-box-style {padding-top: 0;}
    #header .wdt-elementor-container-fluid .wdt-header-menu ul.wdt-primary-nav li.has-mega-menu>ul.sub-menu>li.menu-item-object-wdt_mega_menus .wdt-fancy-box-style .blog-entry .entry-blog-content .entry-title-group div.entry-date{color: var(--wdtLinkColor);}

    /*--------------------------------------------------------------
        Responsive
    --------------------------------------------------------------*/

    @media (max-width: 1540px){
        .wdt-fancy-box-style .has-post-thumbnail .entry-thumb img  { height: 500px; object-fit: cover; } 
    }
    /* @media (max-width: 1280px)
    {
        .wdt-fancy-box-style .has-post-thumbnail .entry-thumb img  { height: auto; } 
    } */

    @media only screen and (min-width:1281px) and (max-width:1540px) 
    {
        .wdt-fancy-box-style .has-post-thumbnail .entry-thumb img{height: 420px;}
    }

    @media only screen and (max-width: 767px)
    {
        .wdt-fancy-box-style.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image > a, .wdt-fancy-box-style.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image .bx-wrapper .entry-gallery-post-slider li
        {height: 300px;position: relative;}
        .wdt-fancy-box-style .has-post-thumbnail .entry-thumb img  { height: 500px; position: relative; object-fit: cover; }
    }

    /*----*****---- << Mobile - Portrait >> ----*****----*/

    /* Common Styles for the devices below 479px width */
    @media only screen and (max-width: 479px) 
    {
        .wdt-fancy-box-style .blog-entry .entry-social-share .share > ul li a{font-size: calc(var(--wdtFontSize_Base) - 4px);padding: 3px;}
        .wdt-fancy-box-style.wdt-post-entry .blog-entry div.entry-categories a{padding: 4px 10px;margin-top: 6px;}
        .wdt-fancy-box-style .blog-entry .entry-thumb img{height: 600px;object-fit: cover;}
        .wdt-fancy-box-style .has-post-thumbnail .entry-thumb img  { height: 600px;}
        /* .wdt-fancy-box-style .entry-thumb{height: 250px;} */
    }