/*--------------------------------------------------------------
    Loader
--------------------------------------------------------------*/

.pre-loader {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999991;
    background-color: var(--wdtBodyBGColor);
}

.loader-inner {
  text-transform: uppercase;
  width: auto;
  text-align: center;
  line-height: 50px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


@-webkit-keyframes loadingBefore {
  0%   {transform:translateX(-15px);}
  50%  {transform:translateX(15px);}
  100% {transform:translateX(-15px);}
}
@keyframes loadingBefore {
  0%   {transform:translateX(-15px);}
  50%  {transform:translateX(15px);}
  100% {transform:translateX(-15px);}
}

@-webkit-keyframes loadingAfter {
  0%   {transform:translateX(-50px);}
  50%  {transform:translateX(50px);}
  100% {transform:translateX(-50px);}
}
@keyframes loadingAfter {
  0%   {transform:translateX(-50px);}
  50%  {transform:translateX(50px);}
  100% {transform:translateX(-50px);}
}


.loader-line {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
}
.loader-line::before,
.loader-line::after {
  content: "";
  grid-area: 1/1;
  background:
  linear-gradient(var(--wdtPrimaryColor) 0 0) 0 0 no-repeat ,
  linear-gradient(var(--wdtPrimaryColor) 0 0) 100% 0 no-repeat ,
  linear-gradient(var(--wdtPrimaryColor) 0 0) 100% 100% no-repeat ,
  linear-gradient(var(--wdtPrimaryColor) 0 0) 0 100% no-repeat ;
  animation: 
    l10-1 2s infinite linear,
    l10-2 2s infinite linear;
}
.loader-line::after {
  margin: 25%;
  transform: scale(-1);
}
@keyframes l10-1 {
  0%   {background-size: 0    5px,5px 0   ,0    5px,5px 0   }
  12.5%{background-size: 100% 5px,5px 0   ,0    5px,5px 0   }
  25%  {background-size: 100% 5px,5px 100%,0    5px,5px 0   }
  37.5%{background-size: 100% 5px,5px 100%,100% 5px,5px 0   }
  45%,
  55%  {background-size: 100% 5px,5px 100%,100% 5px,5px 100%}
  62.5%{background-size: 0    5px,5px 100%,100% 5px,5px 100%}
  75%  {background-size: 0    5px,5px 0   ,100% 5px,5px 100%}
  87.5%{background-size: 0    5px,5px 0   ,0    5px,5px 100%}
  100% {background-size: 0    5px,5px 0   ,0    5px,5px 0   }
}

@keyframes l10-2 {
  0%,49.9%{background-position: 0 0   ,100% 0   ,100% 100%,0 100%}
  50%,100%{background-position: 100% 0,100% 100%,0    100%,0 0   }
}



/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

    .loader-inner .loader-text:after { background-color: var(--wdtPrimaryColor); }


/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

}


/* Common Styles for the devices below 479px width */

@media only screen and (max-width: 479px) {

}