

/*--------------------------------------------------------------
    Pagination
--------------------------------------------------------------*/

    .pagination { float: none; display: inline-block; margin-top: 35px; text-align: center; width: 100%; }
    .pagination .column { float: right; width: 100%; }
    .pagination .column, .pagination ul { margin: 0; }

    .pagination ul, .entry-body > .page-link { padding-left: 0; display: flex; justify-content: center; text-align: center; }
    .pagination ul li, .woocommerce nav.woocommerce-pagination ul li { display: inline-block; float: none; padding-bottom: 0; display: contents; }

    .page-link {  clear: both; float: left; width: 100%; }

    .page-link a, .pagination ul li a,
    .woocommerce nav.woocommerce-pagination ul li a,
    .page-link > span, .pagination ul li span,
    .woocommerce nav.woocommerce-pagination ul li span { background: none; border: 1px solid; display: inline-block; font-size: 14px; font-weight: 600; height: 40px; letter-spacing: .5px; line-height: 40px; margin: 10px 5px 0 0; padding: 0; position: relative; text-align: center; text-transform: uppercase; width: 40px; -webkit-border-radius: 0%; border-radius: 0%; box-shadow: none; }

    .pagination ul li:last-child a,
    .woocommerce nav.woocommerce-pagination ul li:last-child a,
    .pagination ul li:last-child span,
    .woocommerce nav.woocommerce-pagination ul li:last-child span { margin-right: 0; }

    .woocommerce nav.woocommerce-pagination ul li span svg, .woocommerce nav.woocommerce-pagination ul li a svg {font-size: 14px; width: 1em; height: 1em; }

    /* .woocommerce nav.woocommerce-pagination ul li a.prev, 
    .woocommerce nav.woocommerce-pagination ul li a.next{display: flex;align-items: center;justify-content: center;} */

    .page-link a:not(:focus), .pagination ul li a:not(:focus), .woocommerce nav.woocommerce-pagination ul li a:not(:focus) { text-decoration: none; }

    .woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li { border-width: 0; }
    .woocommerce nav.woocommerce-pagination ul li span, .woocommerce nav.woocommerce-pagination ul li a { background: none; margin: 0;box-shadow: rgba(17, 17, 26, 0.05) 0px 0px 16px;border: 1px solid; }

    @media all and (-ms-high-contrast:none) {

        .pagination ul li a.next { margin-right: 0; }
        .pagination ul li a.next, .pagination ul li a.prev { top: -24px; } /* IE10 */
        *::-ms-backdrop, .pagination ul li a.next, .pagination ul li a.prev { top: -24px; } /* IE11 */

    }

    .pagination ul li a.next i, .pagination ul li a.prev i { font-size: calc(var(--wdtFontSize_Base) - 2px); height: 30px; line-height: 30px; margin: 0; position: absolute; left: 50%; top: 50%; text-align: center; text-decoration: inherit; width: 30px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

    .pagination ul li a .wdticon-angle-double-right:before, .pagination ul li a .wdticon-angle-double-left:before {
        content: '';
        background: var(--wdtLinkColor);
        width: 14px;
        height: 14px;
        margin: auto;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' class='e-font-icon-svg e-fas-arrow-right' viewBox='0 0 448 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z'%3E%3C/path%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' class='e-font-icon-svg e-fas-arrow-right' viewBox='0 0 448 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z'%3E%3C/path%3E%3C/svg%3E");
        -webkit-mask-position: center;
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 100%;
        mask-repeat: no-repeat;
        transition: all 0.3s linear; -webkit-transition: all 0.3s linear;
    }
    .pagination ul li a.next i.wdticon-angle-double-right, .pagination ul li a.prev i.wdticon-angle-double-left{
        line-height: 35px;
    }
    .pagination ul li a .wdticon-angle-double-left:before { transform: scaleX(-1); }
    .pagination ul li a:hover .wdticon-angle-double-right:before, .pagination ul li a:hover .wdticon-angle-double-left:before { background: var(--wdtAccentTxtColor); }

    .pagination div[class*="-posts"] { display: inline-block; float: none; position: relative; text-align: center; width: auto; z-index: 9; }
    .pagination div[class*="-posts"] a { display: inline-block; float: none; margin: 2px; min-width: 150px; -webkit-border-radius: var(--wdtRadius_Zero); border-radius: var(--wdtRadius_Zero); }

    .pagination:empty { display: none; }
    .archive .pagination.blog-pagination:empty { display: inline-block; }

    .pagination .newer-posts a { margin-bottom: -1px; padding: var(--wdtPadding_Btn); }
    .pagination .older-posts a { margin-bottom: -1px; padding: var(--wdtPadding_Btn); }
    .pagination .older-posts i, .pagination .newer-posts i { height: 20px; line-height: 20px; text-align: center; width: auto; }
    .pagination .older-posts i { margin-left: 5px; }
    .pagination .newer-posts i { margin-right: 5px; }
    .pagination .older-posts i:before, .pagination .newer-posts i:before { margin: 0; width: auto; }
    .pagination div[class*="-posts"]:only-child a { margin: 0; }

    .pagination a.loadmore-btn { display: inline-block; /*height: 35px; line-height: 35px; padding: 0 20px;*/ position: relative; width: auto; margin-top: 10px; }
    .pagination a.loadmore-btn:not(.more-items) { cursor: not-allowed; }
    /* .pagination a.loadmore-btn:before { border: 1px solid; bottom: -5px; content: ''; display: block; left: -5px; margin: auto; position: absolute; right: -5px; top: -5px; } */

    .tpl-blog-holder.loading + .pagination a.loadmore-btn:after { animation: animateCircle 2s linear infinite; border: 3px solid transparent; border-radius: 50%; border-right: 3px solid #fff; border-top: 3px solid #fff; bottom: 0; content: ''; display: block; height: 25px; left: 0; margin: auto; opacity: .5; position: absolute; right: 0; top: 0; width: 25px; }

    @keyframes animateCircle {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    @keyframes animate {
        0% { transform: rotate(45deg); }
        100% { transform: rotate(405deg); }
    }

    .pagination .newer-posts a:not(:focus), .pagination .older-posts a:not(:focus), .pagination ul li a:not(:focus), .pagination a.loadmore-btn:not(:focus) { text-decoration: none; }
    .pagination .newer-posts a:focus, .pagination .older-posts a:focus, .pagination ul li a:focus, .pagination a.loadmore-btn:focus { text-decoration: none !important; }


/*--------------------------------------------------------------
    Default Colors
--------------------------------------------------------------*/

    .page-link a, .pagination ul li a,
    .woocommerce nav.woocommerce-pagination ul li a,
    .page-link > span, .pagination ul li span,
    .woocommerce nav.woocommerce-pagination ul li span { color: var(--wdtLinkColor); }

    .pagination .newer-posts a, .pagination .older-posts a, .pagination a.loadmore-btn,
    .page-link > a:hover, .page-link > a:focus, .page-link > span,
    .pagination ul li a:hover, .pagination ul li a:focus, .pagination ul li span:not(.dots),
    .woocommerce nav.woocommerce-pagination ul li a:focus, 
    .woocommerce nav.woocommerce-pagination ul li a:hover, 
    .woocommerce nav.woocommerce-pagination ul li span.current { color: var(--wdtAccentTxtColor); }

    .pagination .newer-posts, .pagination .older-posts { background: var(--wdtBodyBGColor); }

    .page-link a, .pagination ul li a,
    .page-link > span, .pagination ul li span,
    .pagination a.loadmore-btn:before,
    .woocommerce nav.woocommerce-pagination ul li a,
    .woocommerce nav.woocommerce-pagination ul li span { border-color: var(--wdtLinkColor); }

    .tpl-blog-holder.loading + .pagination a.loadmore-btn:after { border-top-color: var(--wdtBodyBGColor); border-right-color: var(--wdtBodyBGColor); }



/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

    /* Primary Color */
    .tpl-blog-holder.loading + .pagination a.loadmore-btn { color: var(--wdtPrimaryColor); }

    .pagination .newer-posts a, .pagination .older-posts a, .pagination a.loadmore-btn,
    .page-link > a:hover, .page-link > a:focus, .page-link > span,
    .pagination ul li a:hover, .pagination ul li a:focus, .pagination ul li span:not(.dots),
    .woocommerce nav.woocommerce-pagination ul li a:focus, 
    .woocommerce nav.woocommerce-pagination ul li a:hover, 
    .woocommerce nav.woocommerce-pagination ul li span.current { background-color: var(--wdtPrimaryColor); }

    .page-link > a:hover, .page-link > a:focus, .page-link > span,
    .pagination ul li a:hover, .pagination ul li a:focus, .pagination ul li span:not(.dots),
    .woocommerce nav.woocommerce-pagination ul li a:focus, 
    .woocommerce nav.woocommerce-pagination ul li a:hover, 
    .woocommerce nav.woocommerce-pagination ul li span.current { border-color: var(--wdtPrimaryColor); }

    .pagination .newer-posts a:hover, .pagination .older-posts a:hover, .pagination a.loadmore-btn:hover, .pagination a.loadmore-btn:not(.more-items) { background: var(--wdtSecondaryColor); }

    .tpl-blog-holder.loading + .pagination a.loadmore-btn:hover { color: var(--wdtSecondaryColor); }


/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

    /*----*****---- << Tablet (Portrait) >> ----*****----*/

    /* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:1024px) {


    }

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px) {

    .pagination ul li a, .pagination ul li span, .page-link a, .page-link > span, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span { font-size: calc(var(--wdtFontSize_Base) - 3px); font-weight: 600; height: 32px; line-height: 30px; width: 32px; }

    .pagination ul li a.next i, .pagination ul li a.prev i,
    .woocommerce .product-loop-sorting nav.woocommerce-pagination ul li i { font-size: calc(var(--wdtFontSize_Base) - 3px); }

}